<!-- Featured -->
<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {% if site.active_lang == site.default_lang %}
          <div class="ctct-inline-form" data-form-id="71c8f1ee-2746-4e6f-97b9-9232b3e98969"></div>
          {% else %}
          <div class="ctct-inline-form" data-form-id="e882e582-2711-44bd-88e1-c6eec5965569"></div>
          {% endif %}
          <br/>
          <br/>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7NEAv3ihxJc" allowfullscreen></iframe>
          </div>
          <br/>
          <div id="demo" class="text-grey"/>
        </div>
      </div>
      </div>
  </section>

  