    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="This is the volentix home page.">
        <meta name="author" content="volentix">

        <title>Volentix</title>

        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <link href="assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <link href="assets/css/creative.css" rel="stylesheet">


        <link rel="apple-touch-icon" sizes="180x180" href="assets/fav_icon/apple-touch-icon.png?v=RyMydNwazz">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/fav_icon/favicon-32x32.png?v=RyMydNwazz">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/fav_icon/favicon-16x16.png?v=RyMydNwazz">
        <link rel="manifest" href="assets/fav_icon/manifest.json?v=RyMydNwazz">
        <link rel="mask-icon" href="assets/fav_icon/safari-pinned-tab.svg?v=RyMydNwazz" color="#232c3b">
        <link rel="shortcut icon" href="assets/fav_icon/favicon.ico?v=RyMydNwazz">

        <meta name="apple-mobile-web-app-title" content="Volentix">
        <meta name="application-name" content="Volentix">
        <meta name="msapplication-config" content="assets/fav_icon/browserconfig.xml?v=RyMydNwazz">

    </head>