{% assign modal = site.data.lang[site.active_lang].modal %}

<!-- Modal -->
<div id="myModal" class="modal fade top" role="dialog">
    <div class="modal-dialog modal-full-length modal-right" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{ modal.header }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <p class="ctct-form-text">{{ modal.body }}</p>
            </div>
        </div>
    </div>
</div>
