---
layout: skeleton
languages:
- en
- tr
---

{% include nav.html %}
<header class="masthead text-center text-white d-flex">
	<div class="container my-auto darken-overlay">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<!-- Logo -->
				<div id="logo">
					<a href="#"><img src="assets/img/logo.png" alt="" class="headerimage"></a>
				</div>
			</div>
			
			<div class="col-lg-8 mx-auto">
				<br/>
				<br/>
				<br/>
				<a href="https://bitcointalk.org/index.php?topic=4557725.0" class="btn btn-bct">
					<h2>Join the Venue</h2>
					<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature Campaign!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
				</a>
				<!-- &nbsp;<span class="typed" ></span> -->
			</div>
		</div>
	</div>
</header>
<!-- Header -->
{{ content }}

