---
layout: skeleton
languages:
- en
- tr
---

{% include nav.html %}
<header class="masthead text-center text-white d-flex">
	<div class="container my-auto">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<!-- Logo -->
				<div id="logo">
					<a href="#"><img src="assets/img/logo.png" alt="" class="headerimage"></a>
				</div>
			</div>
			<br/>
			<div class="col-lg-8 mx-auto">
					&nbsp;<span class="typed"></span>
			</div>
		</div>
	</div>
</header>
<!-- Header -->
{{ content }}

